@use "global" as *;

.contact__inner {
  text-align: center;
}
.contact__text {
  font-size: rem(16);
  font-weight: $regular;
  color: $white;
  letter-spacing: 0.13em;
  line-height: 1.448125;
  text-align: left;
  display: inline-block;
  margin-top: rem(19);
  @include mq(md) {
    margin-top: rem(23);
    text-indent: 0.13em;
  }
}
.contact__btn {
  margin-top: rem(61);
  text-align: center;
}

// ボタンテキスト
.button.contact__btn--text {
  @include mq(md) {
  font-size: rem(20);
  padding: rem(19) 0;
 }
}