@use "global" as *;

.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.5);
  height: rem(50);
  position: fixed;
  z-index: 10;
}
.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: rem(22);
  @include mq(md) {
    padding-left: rem(32);
    padding-right: 0;
  }
}
/* スクロールしたらヘッダーメニューの背景色ー変更 */
.header.headerColorScroll {
  background-color: #111;
  transition: color 0.4s ease-out;
}
.pc-nav__item--white.headerColorScroll {
  background-color: $black;
  transition: color 0.4s ease-out;
}