@use "global" as *;

.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  opacity: 0.5;
  height: rem(50);
  position: fixed;
}
.header__logo {
  width: rem(70);
}
.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(22);
}