@use "global" as *;

.news-content {
  @include mq(md) {
    display: flex;
    align-items: baseline;
  }
}
.news-content +
.news-content
{
  margin-top: rem(32);
}
.news-content__info {
  @include mq(md) {
    display: flex;
    align-items: baseline;
    width: 23%;
  }
}
.news-content__date,
.news-content__category {
  display: inline-block;
  line-height: 1;
}
.news-content__date,
.news-content__category,
.news-content__text {
  color: $white;
  font-weight: $regular;
}
.news-content__date,
.news-content__text {
  font-size: rem(16);
}
.news-content__category {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1;
  margin-left: rem(28);
  padding: rem(8) rem(21);
  border: 1px solid $white;
  flex-shrink: 0;
  @include mq(md) {
    margin-left: rem(47);
  }
}
.news-content__block {
  margin-top: rem(14);
  @include mq(md) {
    width: 59%;
    margin-top: 0;
    margin-left: rem(61);
  }
}
.news-content__text {
  line-height: 1.448125;
  @include mq(md) {
  }
}
.news-content__btn {
  margin-top: rem(27);
  text-align: center;
  @include mq(md) {
    width: 18%;
    margin-top: 0;
    text-align: inherit;
  }
}

// ホバーすると下線が出る
.news-content__text {
  text-decoration: none; 
  color: $white; 
  background-image: linear-gradient(90deg, $white, $white); 
  background-repeat: no-repeat;
  background-position: left bottom; 
  background-size: 0 rem(1); 
  transition: background-size 0.3s;
}

.news-content__text:hover {
  background-size: 100% rem(1); 
}

// ホバーすると左から右にボタンの色が変わる
.news-content__btn a {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: rem(20);
  font-weight: $regular;
  color: $white;
  width: rem(335);
  background-color: $black;
  padding: rem(14) 0;
  line-height: 1;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  text-decoration: none;
  border: 1px solid $white;
  transition: 0.3s ease-in-out;
  z-index: 1;
  @include mq(md) {
    position: relative;
    width: rem(134);
    padding: rem(7) rem(22);
    font-size: rem(16);
    font-weight: $normal;
    background-color: $white;
    color: #000;
    margin-left: rem(49);
    margin-top: 0;
    letter-spacing: 0.04em;
    text-indent: 0.36em;
    flex-shrink: 0;
    white-space: nowrap;
    border: none;
    }
}
.news-content__btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.3s ease-in-out;
  @include mq(md) {
    background-color: $black;
  }
}

.news-content__btn a:hover::before {
  transform: scale(1, 1);
  width: 100%;
  @include mq(md) {
    transform: scale(1, 1);
    width: 100%;
  }
}
.news-content__btn a:hover {
  color: $black;
  @include mq(md) {
  color: $white;
}
}