@use "global" as *;

.overview-wrapper {
  margin-top: rem(48);
  background: $black;
  @include mq(md) {
  padding-top: rem(80);
  padding-bottom: rem(80);
  margin-top: rem(40);
  background: linear-gradient(90deg, $black 0%, $black calc(50% + 20rem), transparent calc(50% + 20rem), transparent 100%);
  }
}