@use "global" as *;

.overview__contents {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: $black;
  @include mq(md) {
    margin-right: 0;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, $black 0%, $black 71%, transparent 71%, transparent 100%);
    align-items: center;
    padding-top: rem(80);
    padding-bottom: rem(80);
    padding-right: rem(91);
  }
}
.overview__img {
  bottom: rem(-8);
  object-fit: cover;
  aspect-ratio: 375 / 261;
  @include mq(md) {
  max-width: rem(557);
  width: 100%;
  bottom: 0;
  padding-left: rem(33);
  aspect-ratio: 557 /389;
  }
}
.overview__content {
  padding: 0 $padding-sp;
  @include mq(md) {
    width: 100%;
    max-width: rem(542);
    padding-left: rem(32);
    padding-right: 0;
  }
}
.overview__content-title {
  color: $white;
  font-size: rem(20);
  font-weight: $regular;
  line-height: 1.448;
  letter-spacing: 0.02em;
  padding-top: rem(24);
  text-align: center;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: 0.05em;
    text-align: left;
  }
}
.overview__content-text {
  color: $white;
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.448125;
  letter-spacing: 0.02em;
  margin-top: rem(24);
  @include mq(md) {
    line-height: 2.1875;
    letter-spacing: 0.05em;
  }
}
.overview__content-btn {
  margin-top: rem(16);
  padding-bottom: rem(21);
  text-align: center;
  @include mq(md) {
    text-align: left;
  }
}
// 黄色い線背景
.overview {
  position: relative;
}
.overview::before {
  content: '';
  width: 94.6875%;
  height: rem(1212);
  position: absolute;
  top: rem(-213);
  left: 0;
  background-image: linear-gradient(to left top,transparent 49.9%, $yellow 50%, $yellow calc(50.1% + 1px), transparent calc(50.3% + 1px));
  z-index: -10;
}