@use "global" as *;

.pc-nav {
  display: none;
  @include mq(md) {
    display: block;
    height: inherit;
}
}
.pc-nav__items {
  @include mq(md) {
    height: inherit;
    display: flex;
    align-items: center;
  }
}
.pc-nav__item:nth-of-type(1) a {
  padding-left: 0;
}
.pc-nav__item:nth-of-type(5) a {
  padding-right: rem(29);
}
.pc-nav__item {
  @include mq(md) {
    height: inherit;
  }
}
.pc-nav__item a {
  @include mq(md) {
    height: inherit;
    display: grid;
    place-items: center;
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 2.1875;
    letter-spacing: 0.16em;
    text-indent: 0.15em;
    padding: 0 rem(13);
}
}
.pc-nav__item.pc-nav__item--white a {
  background-color: $white;
  color: $black;
  padding: 0 rem(28);
}
// ホバー時アンダーライン
.pc-nav__item a span {
  @include mq(md) {
  position: relative;
}
}
.pc-nav__item  a span::after {
  @include mq(md) {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: rem(1);
  background: #FFEA2E;
  bottom: 0;
  visibility: hidden; 
  }
}
.pc-nav__item  a:hover span::after {
  @include mq(md) {
  visibility: visible;
  }
}
.pc-nav__item.pc-nav__item--white a {
  transition: 0.2s;
}
.pc-nav__item.pc-nav__item--white a:hover {
  background-color: $black;
  color: $white;
  transition: 0.2s;
}