@use "global" as *;

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,rem(-20));
  @include mq(md) {
    bottom: var(--swiper-pagination-bottom,rem(-29));
    left:  var(--swiper-pagination-left,rem(-20));
  }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,6px);
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #F9F871;
}