@use "global" as *;

.works-wrapper {
  margin-top: rem(48);
  background: $black;
  @include mq(md) {
  padding-top: rem(80);
  padding-bottom: rem(80);
  margin-top: rem(40);
  background: linear-gradient(90deg, transparent 0%, transparent calc(50% - 16rem), $black calc(50% - 16rem), $black 100%);
  }
}